local.properties


*.apk
*.ap_
*.aab


*.dex


*.class

bin/
gen/
out/
build/


.gradle/
gradle-wrapper.jar




.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild
.cxx


*.jks
*.keystore

# Signing files
signing.properties